@{
    ViewData["Title"] = "Home Page";
}

@using Walter.Core.DTO_s.Post;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@using X.PagedList;
@model IPagedList<PostDto>


@{
    ViewData["Title"] = "Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@foreach (var item in Model)
{
     <div class="list-group-item mb-5">



        <div class="content">

            <div class="card-list ">
                <article class="card ">
                    <figure class="card-image ">
                        @if (item.ImagePath == "Default.png")
                        {
                            <img class="img-fluid" src="~/images/posts/Default.png">
                        }
                        else
                        {
                            <img class="img-fluid" src="~/images/posts/@item.ImagePath" >
                        }
                    </figure>
                    <div class="card-header">
                        <a asp-controller="Post" asp-action="FullNews" asp-route-id="@item.Id"> @item.Title</a>
                        
                    </div>
                    <div class="card-footer">
                        
                        <div class="card-meta card-meta--date">

                            @item.PublishDate
                        </div>
                    </div>
                </article>
            </div>

        </div>
    </div>



}*@

@foreach (var item in Model)
{

<div class="container py-3">

    <!-- Card Start -->
    <div class="card">
        <div class="row ">

            <div class="col-md-7 px-3">
                <div class="card-block px-6">
                        <h4 class="card-title"> @item.Title </h4>
                    <p class="card-text">
                        @item.Description
                    </p>
                        <p class="category card-text">
                            @item.CategoryName
                        </p>
                    <br>
                        <div >
                            <a asp-controller="Post" asp-action="FullNews" asp-route-id="@item.Id" class=" btn btn-primary">Read more</a>
                    </div>
                       
                </div>
                    <p class="date card-text mt-5">
                        @item.PublishDate
                    </p>
            </div>
            <!-- Carousel start -->
            <div class="col-md-5">
                @if (item.ImagePath == "Default.png")
                        {
                            <img class="img-fluid" src="~/images/posts/Default.png">
                        }
                        else
                        {
                            <img class="img-fluid" src="~/images/posts/@item.ImagePath" >
                        }
            </div>
            <!-- End of carousel -->
        </div>
    </div>
    <!-- End of card -->
    </div>
}














                        <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                            @Html.PagedListPager(Model, page => Url.Action("index", new { page = page }), new PagedListRenderOptions()
                            {
                            ActiveLiElementClass = "active",
                            PageClasses = new[]{ "page-link"},
                            LiElementClasses=new[] { "page-item" },
                            UlElementClasses = new[] { "pagination","justify-content-center", "mt-3" },
                            LinkToNextPageFormat = "Next",
                            LinkToPreviousPageFormat = "Prev",
                            MaximumPageNumbersToDisplay = 3,
                            DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
                            DisplayLinkToNextPage = PagedListDisplayMode.Never
                            })
                        </div>
                        @if (Model.Count() <= 0)
                        {
                            <h2>No posts were found for your query.</h2>
                        }
                 